<div class="container">
  <div class="row login_box">
      <div class="col-md-12 col-xs-12 paddtopbot20px" align="center">

            <div class="outter"><img src="../assets/img/logo.jpg" class="image-circle"/></div>

      </div>

        <div class="col-md-12 col-xs-12 login_control">

              <form (submit) = "loginUser($event)">
                <div class="control">
                    <input type="text" name="email" class="form-control" placeholder="Email Address" />
                </div>

                <div class="control">
                    <input type="password" name="password" class="form-control" placeholder="Password" />
                </div>
                <div class="control martop20px">
<a href="#">Forgot Password</a>
                    </div>
                <div align="center" class="martop20px">
                     <button class="btn btn-orange">LOGIN</button>
                </div>
              </form>

        </div>



    </div>
</div>
